**/.externalToolBuilders/
**/.gradle/
**/.idea/
**/.settings/
**/.vscode/
**/bin/
**/build/
**/out/
**/reports/
**/src-gen/
**/target/

**/.classpath
**/.project

.dockerignore
gradle.properties
Dockerfile
