{% include header.html %}

<div id="welcome">
<div id="welcome-banner">
<div class="container">
<h1>citeproc-java</h1>
<h2>A Citation Style Language (CSL) processor for Java.</h2>
<div id="welcome-feature-list-and-buttons">
<ul>
<li><i class="icon-star"></i> 9000+ styles</li>
<li><i class="icon-ok"></i> CSL 1.0.1 compliant</li>
<li><i class="icon-reply-all"></i> Various importers</li>
<li><i class="icon-exchange"></i> Remote connectors</li>
<li><i class="icon-align-left"></i> Command line tool</li>
</ul>
<div class="welcome-buttons">
<a href="{{ site.baseurl }}#what-is-citeproc-java" class="btn btn-primary"><i class="icon-chevron-down"></i> Learn more</a>
<a href="{{ site.baseurl }}download" class="btn btn-primary"><i class="icon-download-alt"></i> Download</a>
</div>
</div>
<img src="{{ site.baseurl }}images/reader.png" class="hidden-xs">
</div>
</div>
<div id="welcome-message" class="hidden-xs hidden-sm hidden-md">
<div class="container">
<h2>Citations and bibliographies with CSL and Java.</h2>
<div class="welcome-buttons">
<a href="{{ site.baseurl }}#example" class="btn btn-primary"><i class="icon-chevron-down"></i> Example</a>
</div>
</div>
</div>
</div>

<div class="container">
{{ content }}
{% include footer.html %}
