name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'zulu'

      - name: Build with Gradle
        run: "./gradlew test"

      - name: Create test reports
        run: ./gradlew jacocoTestReport

      - name: Upload code coverage report
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash)

      - name: Upload junit test reports on failure
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-results
          path: build/reports/tests

  publishDockerImage:
    needs: [build]
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker Login
        run: echo $DOCKER_HUB_ACCESS_TOKEN | docker login --username michelkraemer --password-stdin
        env:
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: docker build -t michelkraemer/citeproc-java:latest .

      - name: Push to Docker Hub
        run: docker push michelkraemer/citeproc-java:latest
